{% extends "base.html" %}
{% block content %}
    <div class="form_add">
        <h3>Добавить рецепт</h3>
        <form action="{{ reverse_url('add_recipe') }}" method="post">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="name">Название</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="date">Дата публикации рецепта</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group mb-3">
              <input type="file" class="form-control" id="files">
              <label class="input-group-text" for="files">Загрузить</label>
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Добавить</button>
                <a href="{{reverse_url('main')}}"><button type="button" class="btn btn-secondary">Назад</button></a>
            </div>

            {% module xsrf_form_html() %}
        </form>
    </div>
{% end %}