{% extends "base.html" %}
{% block content %}
    <div class="form_add">
        <h3>Добавить рецепт</h3>
        <form enctype="multipart/form-data" action="{{ reverse_url('add_recipe') }}" method="post" name="recipe" class="needs-validation">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="name">Название</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="name" required>
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="eng_name">Название на английском</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="eng_name">
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="date">Дата публикации рецепта</span>
                <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="date">
            </div>
            <div class="input-group mb-3 image">
                <input type="file" class="form-control" id="file" name="file1" required>
            </div>
            <div class="input-group mb-3 btn-add">
                <button type="button" class="btn btn-success" onclick="addImage()">Добавить картинку</button>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Описание</label>
                <textarea class="form-control" id="description" rows="3" name="description"></textarea>
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Добавить</button>
                <a href="{{reverse_url('main')}}"><button type="button" class="btn btn-secondary">Назад</button></a>
            </div>
            {% module xsrf_form_html() %}
        </form>
    </div>
{% end %}