{% extends "base.html" %}
{% block content %}
<h1> {{name}}</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Название</th>
            <th scope="col" class="text-center">Дата</th>
            <th scope="col" class="text-center">Видимость</th>
        </tr>
    </thead>
    <tbody>
        {% for recipe in recipes %}
        <tr>
            <th scope="row">{{recipe.id}}</th>
            <td>{{recipe.name}}</td>
            <td class="text-center">{% if recipe.date == None %}
                -
                {% else %}
                {{recipe.date}}
                {% end %}
            </td>
            <td class="text-center">{% if recipe.hidden == False %}
                <img src="{{ static_url('img/visible.png' )}}">
                {% else %}
                <img src="{{ static_url('img/no-visible.png' )}}">
                {% end %}
            </td>
        </tr>
        {% end %}
    </tbody>
</table>
<a href="{{ reverse_url('add_recipe')}}"><button type="button" class="btn btn-primary">Добавить</button></a>
{% end %}