{% extends "base.html" %}
{% block content %}
<h1> {{name}}</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Название</th>
            <th scope="col">Дата</th>
            <th scope="col">Скрытый</th>
            <th scope="col">Удалить</th>
        </tr>
    </thead>
    <tbody>
        {% for recipe in recipes %}
        <tr>
            <th scope="row">{{recipe.id}}</th>
            <td><a href="{{reverse_url('recipe')}}">{{recipe.name}}</a>></td>
            <td>{{recipe.date}}</td>
            <td>{{ recipe.hidden}}</td>
            <td><button type="button" class="btn btn-danger" id="{{recipe.id}}">удалить</button></td>>
        </tr>
        {% end %}
    </tbody>
</table>
<a href="{{ reverse_url('add_recipe')}}"><button type="button" class="btn btn-primary">Добавить</button></a>
{% end %}